.app-icon {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: auto;

    &__title {
        font-size: 24px;
        padding: 4px 8px;
    }

    &__image {
        width: 100px;
        margin: auto;
    }

    &:hover &__title {
        background-color: #000;
        color: #fff;
    }

    &:active {
        opacity: .6;
    }
}